<!-- Footer -->
<footer class="footer">
  <div class="footer-container">

    <div class="footer-logo">
      <h3>VisitBejaia</h3>
      <p>Votre expert en voyages authentiques à Béjaïa.</p>
    </div>

    <div class="footer-links">
      <h4>Liens</h4>
      <ul>
        <li><a href="#accueil">Accueil</a></li>
        <li><a href="#apropos">À Propos</a></li>
        <li><a href="#destinations">Destinations</a></li>
      </ul>
    </div>

    <div class="footer-links">
      <h4>Activités</h4>
      <ul>
        <li><a href="#">Bateau</a></li>
        <li><a href="#">Quad</a></li>
        <li><a href="#">Cheval</a></li>
      </ul>
    </div>

    <div class="footer-social">
      <h4>Suivez-nous</h4>
      <div class="social-icons">
        <a href="https://web.facebook.com/visitbejaia06"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/visit.bejaia"><i class="fab fa-instagram"></i></a>

        <!-- WhatsApp -->
        <a href="https://wa.me/213557664089" target="_blank" title="Contact WhatsApp">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>

     
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 VisitBejaia. Tous droits réservés.</p>
  </div>
</footer>